<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <%= link_to "Show PDF", post_url(post, format: :pdf) %>
      <%= link_to "Show PNG", post_url(post, format: :png) %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
